---
import logo from "../assets/navbar/Navbar Logo.png";
import howto from "../assets/navbar/Navbar COMO PARTICIPAR.png";
import premios from "../assets/navbar/Navbar PREMIOS.png";
import productos from "../assets/navbar/Navbar PRODUCTOS.png";
import terminos from "../assets/navbar/Navbar TERMINOS.png";
---

<nav
	class="sticky top-0 bg-white w-full z-50 shadow-sm min-h-10 md:min-h-24 lg:min-h-30 flex items-center border-b border-gray-100"
>
	<div class="w-full flex items-center justify-between px-4 lg:px-8 h-full">
		<!-- Left Group: Logo -->
		<a href="#" class="h-10 md:h-24 lg:h-30 flex items-center -my-2 p-3 shrink-0">
			<img
				src={logo.src}
				alt="Logo"
				class="h-full w-auto object-contain"
			/>
		</a>

		<!-- Right Group: Navigation -->
		<div class="flex items-center -space-x-1 lg:-space-x-3">
			<a
				href="#premios"
				class="transition-transform hover:scale-105 active:scale-95 relative hover:z-10"
			>
				<img
					src={premios.src}
					alt="Premios"
					class="h-8 sm:h-10 lg:max-h-15 w-auto object-contain"
				/>
			</a>
			<a
				href="#como-participar"
				class="transition-transform hover:scale-105 active:scale-95 relative hover:z-10"
			>
				<img
					src={howto.src}
					alt="Como Participar"
					class="h-8 sm:h-10 lg:max-h-15 w-auto object-contain"
				/>
			</a>
			<a
				href="#productos"
				class="transition-transform hover:scale-105 active:scale-95 relative hover:z-10"
			>
				<img
					src={productos.src}
					alt="Productos"
					class="h-8 sm:h-10 lg:max-h-15 w-auto object-contain"
				/>
			</a>
			<a
				href="#terminos"
				class="transition-transform hover:scale-105 active:scale-95 relative hover:z-10"
			>
				<img
					src={terminos.src}
					alt="Términos"
					class="h-8 sm:h-10 lg:max-h-15 w-auto object-contain"
				/>
			</a>
		</div>
	</div>
</nav>
