---
import logo from "../assets/navbar/Navbar Logo.png";
import howto from "../assets/navbar/Navbar COMO PARTICIPAR.png";
import premios from "../assets/navbar/Navbar PREMIOS.png";
import productos from "../assets/navbar/Navbar PRODUCTOS.png";
import terminos from "../assets/navbar/Navbar TERMINOS.png";
---

<nav
	class="sticky top-0 bg-white w-full z-50 shadow-sm min-h-30 flex items-center border-b border-gray-100"
>
	<div class="w-full flex items-center justify-between px-4 lg:px-8 h-full">
		<!-- Left Group: Logo -->
		<a href="#" class="h-30 flex items-center -my-2 p-3">
			<img
				src={logo.src}
				alt="Logo"
				class="h-full w-auto object-contain"
			/>
		</a>

		<!-- Right Group: Navigation -->
		<div class="hidden lg:flex items-center -space-x-3">
			<a
				href="#premios"
				class="transition-transform hover:scale-105 active:scale-95 relative hover:z-10"
			>
				<img
					src={premios.src}
					alt="Premios"
					class="max-h-15 w-auto object-contain"
				/>
			</a>
			<a
				href="#como-participar"
				class="transition-transform hover:scale-105 active:scale-95 relative hover:z-10"
			>
				<img
					src={howto.src}
					alt="Como Participar"
					class="max-h-15 w-auto object-contain"
				/>
			</a>
			<a
				href="#productos"
				class="transition-transform hover:scale-105 active:scale-95 relative hover:z-10"
			>
				<img
					src={productos.src}
					alt="Productos"
					class="max-h-15 w-auto object-contain"
				/>
			</a>
			<a
				href="#terminos"
				class="transition-transform hover:scale-105 active:scale-95 relative hover:z-10"
			>
				<img
					src={terminos.src}
					alt="Términos"
					class="max-h-15 w-auto object-contain"
				/>
			</a>
		</div>

		<!-- Mobile Menu Button (Hamburger) - Optional but good for mobile -->
		<button class="lg:hidden text-gray-600 focus:outline-none">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="h-10 w-10"
				fill="none"
				viewBox="0 0 24 24"
				stroke="currentColor"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M4 6h16M4 12h16m-7 6h7"></path>
			</svg>
		</button>
	</div>
</nav>
